h3{
  color: white;
}

.center {
  background-color: orange;
  padding: 25px 0;
  text-align: center;
  width: 100%;
  height: 15%;
}

a{ text-decoration: none; color: white; }
li { display: block } // ab IE8

body ul {
  width: 218px;
  margin: 0 auto;
  padding: 0;
}
.base {
  background-color: orange;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}
h6{
  color: white;
}
body{
  background-color: indianred;
}
.base {
  background-color: orange;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}
